.posts-container {
    margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 800px;
  gap: 15px;
}

.post_col_1 {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  gap: 10px;
}

.post_col_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 10px;
}

.post_con {
  background-color: aliceblue;
  min-height: 200px;
}
