.FriendlistCard {
  display: flex;
  flex-direction: column;
  width: 362px;
  height: 470px;
  background: rgba(255, 255, 255, 1);
  padding-top: 10px;
  //border: 1px solid rgba(255, 255, 255, 1);
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.profileAbout {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 350px;
  height: 80px;
  font-size: 14px;
}
.profileInterest {
  display: flex;
  gap: 15px;
  padding: 15px;
  p {
    border-style: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 100px;
    background-color: rgba(10, 10, 10, 0.082);
    justify-content: center;
    align-items: center;
  }
}

.profileImg {
  width: 100px;
  height: 100px;
  img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.profileDescription {
  font-size: 14px;
  line-height: 24px;
  padding: 5px 10px 10px 10px;

  text-align: center;
  h3 {
    font-weight: 500;
  }
  p {
    font-weight: 400;
  }
}

.profileFollowStatus {
  display: flex;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.2px;
  button {
    border-radius: 50px;
    border: 1px solid;
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
}

.toggle-button-fol.on {
  background: linear-gradient(132.96deg, #c468ff 3.32%, #6e91f6 100%);
}
.toggle-button-fol.off {
  background: white;
}

.toggle-button-frnd.off {
  background: white;
  background-repeat: no-repeat;
}

.friend-imgclass {
  background-repeat: no-repeat;
  float: left;
}
