.confirmation_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-self: center;
}

h1, p {
    text-align: center;
}

.sucsess {
    height: 100px;
}

.button_continue {
    background: linear-gradient(102deg, #c468ff, #6e91f6);
    font-size: 16px;
    min-width: 16.25rem;
    border: none;
    color: white;
    border-radius: 40px;
    height: 60px;
    margin-top: 40px;
  }