.create-post-container {
  display: flex;
  justify-content: center;
  border: green 2px solid;
  height: 400px;
  width: 400px;
}

.send-button-circle {
  height: 40px;
  width: 40px;
  background: linear-gradient(102deg, #c468ff, #6e91f6);
  border-radius: 50%;
}
