
@use '../../App.scss';

.login_main_container {
    display: grid;
    grid-template-columns: 45% 55%;
    height: 100vh;

    .login_left_container {
        background-image: url(../../assets/images/background_image.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-rows: 50% 5% 10% 5% 20% 10%;
        justify-items: center;
    
        .login_right_container {
            display: grid;
            justify-items: center;
        }

        .login_logo {
            justify-self: center;
            align-self: end;
        }

        .login_motion {
            color: white;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .login_about {
            justify-items: center;
            align-items: center;
            text-align: center;
            text-wrap: wrap;
            width: 250px;
        }
        .app_store_buttons {
            display: flex;

        }
    }
}



